{% extends 'users/base.html' %}
{% block content%}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for newsletter in object_list %}
            <div class="card" style="width: 20rem;">
                <div class="card-body mt-1">
                    <h5 class="card-title">Карточка рассылки</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Дата и время первой отправки: {{newsletter.first_shipment}}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Дата и время окончания отправки: {{newsletter.end_shipment}}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Статус: {{newsletter.status_news_letter}}</h6>
                    <a href="{% url 'send:newsletter_update' newsletter.pk %}" class="card-link">Редактировать</a>
                    <a href="{% url 'send:newsletter_delete' newsletter.pk %}" class="card-link">Удалить</a>
                     <a href="{% url 'send:newsletter_detail' newsletter.pk %}" class="card-link">Подробнее</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="btn-group mt-3">
            <a class="btn btn-primary" href="{% url 'send:home' %}" role="button">Назад</a>
        </div>
    </div>
</div>
{% endblock %}