<html>
<head>
    <title>Список клиентов для рассылки</title>
</head>
<body>
<h1>Клиенты</h1>
<div>
    <a href="/send/client/1/">
        <button>Петров Иван Игоревич</button>
        <p class="card-text">{{ object.email }}</p>
    </a>
</div>
<div>
    <a href="/send/client/2/">
        <button>Александрова Елена Владимировна</button>
        <p class="card-text">{{ object.email }}</p>
    </a>
        </div>
<div>
    <a href="/send/client/3/">
        <button>Maknali</button>
        <p class="card-text">{{ object.email }}</p>
    </a>
</div>
<div>
    <a href="/send/client/5/">
        <button>Донченко И.А.</button>
        <p class="card-text">{{ object.email }}</p>
    </a>
</div>
</body>
</html>
